# docs
docs/node_modules
docs/.vuepress/.temp
# Prerequisites
*.d

# Compiled Object files
build
build-*
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

Debug
Release
.vs
*.vcxproj.user
*.swp

# Build
deps/*
!deps/tools/
deps/tools/*
!deps/tools/*.schema.json
build
install
gui

# Tools
tools/ImageCropper/**/*.png

# Python
__pycache__/
*.py[cod]

# Data
config
debug
data
.env

# Agent
.opencode/
