[submodule "assets/MaaCommonAssets"]
	path = assets/MaaCommonAssets
	url = https://github.com/MaaXYZ/MaaCommonAssets
[submodule ".claude/skills/using-yak/resources/yaklang.github.io"]
	path = .claude/skills/using-yak/resources/yaklang.github.io
	url = https://github.com/yaklang/yaklang.github.io
[submodule "app/crm_sdk"]
	path = app/crm_sdk
	url = https://github.com/EgooAI/Egooai-CRM-SDK-Py
